.mat-card-login {
  max-width: 500px;
  background-color: var(--color-login-card);
}

.img-container {
  display: flex;
  justify-content: center;
}

.app-name {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  color: var(--color-primary);
}

.img-login {
  max-width: 100px;
  padding-bottom: 5px;
}

.card-login-action {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.check-keep-logged {
  padding-left: 10px;
}
