<mat-card appearance="outlined" class="user-sttings">
  <mat-card-header>
    <mat-card-title>Configurações</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      @if (isSmallScreen) {
      <div>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
          Opções
        </button>
      </div>
      <mat-menu #menu="matMenu">
        @for (groupItems of menuItems; track $index; let first = $first) {
        @if (!first) {
        <mat-divider></mat-divider>
        }
        @for (item of groupItems; track $index) {
        <ng-container>
          <button mat-menu-item [routerLink]="item.route" routerLinkActive="current-route" [disabled]="item.disable | async">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.label }}</span>
          </button>
        </ng-container>
        }
        }
      </mat-menu>
      } @else {
      <div class="col-auto d-flex flex-column gap-2">

        @for (groupItems of menuItems; track $index) {
        <mat-card appearance="outlined">
          <mat-card-content>
            <mat-list class="settings-options">
              @for (item of groupItems; track $index; let first = $first) {
              @if (!first) {
              <mat-divider class="divider-light"></mat-divider>
              }
              <a mat-list-item [routerLink]="(item.disable | async) ? null : item.route" routerLinkActive="current-route"
                [disabled]="item.disable | async"  [class.disabled-link]="item.disable | async">
                <mat-icon matListIcon>{{ item.icon }}</mat-icon>
                <span>{{ item.label }}</span>
              </a>
              }
            </mat-list>
          </mat-card-content>
        </mat-card>
        }
      </div>
      }
      <div class="col">

        <mat-card appearance="outlined">
          <mat-card-content>
            <router-outlet></router-outlet>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </mat-card-content>
</mat-card>
