.user-sttings {
  background-color: var(--color-off-white-cream);
}

.settings-options {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  a:not(.disabled-link) {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }

  a:not(.disabled-link):hover {
    background-color: var(--color-secondary);
    transform: scale(1.05);
  }

  mat-icon {
    vertical-align: middle;
    color: var(--color-dark-gray);
  }

  span {
    margin-left: 15px;
    vertical-align: middle;
    color: var(--color-dark-gray);
  }
}

.current-route {
  mat-icon, span {
    font-weight: bold;
  }
}
