@let presentStudents = countPresentStudents(lesson.attendances);
@let absentStudents = countAbsentStudents(lesson.attendances);
<mat-card appearance="outlined" class="individual-lesson-card" [routerLink]="[lesson.id, ROUTES_KEYS.lessonAttendance]">
  <mat-card-header>
    <mat-card-title-group class="d-flex flex-column">
      <mat-card-subtitle class="lesson-date">
        <div class="d-flex justify-content-between">
          <span>
            {{ lesson.date | date: 'EEEE, dd \'de\' MMMM, yyyy' }}
          </span>
          @let icon = getIconByLessonStatus(lesson);
          <mat-icon [class]="icon.classCss">
            {{ icon.name }}
          </mat-icon>
        </div>
      </mat-card-subtitle>
      <mat-card-title>
        <div>
          <span>
            Lição {{ lesson.number }}
          </span>
          @if (lesson.topic) {
          <span>
            - {{ lesson.topic }}
          </span>
          }
        </div>
      </mat-card-title>
      <mat-card-title class="classroom-name">
        {{ lesson.classroomName }}
      </mat-card-title>
    </mat-card-title-group>
  </mat-card-header>

  <mat-divider></mat-divider>
  <mat-card-content class="container text-center">
    <mat-card-subtitle class="d-flex flex-column">
      @let perfomance = (presentStudents / (presentStudents + absentStudents)) || 0;
      <span class="lesson-perfomance">
        Aproveitamento: {{ perfomance || 0 | percent: '1.1-1'}}
      </span>
      <mat-progress-bar mode="determinate" [value]="perfomance * 100" class="progress-bar-primary"></mat-progress-bar>
    </mat-card-subtitle>
    <div class="row justify-content-around">
      <span class="col">
        Presentes: {{ presentStudents }}
      </span>
      <span class="col">
        Ausentes: {{ absentStudents }}
      </span>
    </div>
  </mat-card-content>
  @if (isAdmin | async) {
  <mat-card-footer class="container">
    <div class="row">
      <button mat-button class="btn-primary" [routerLink]="[lesson.id]">
        <mat-icon>edit</mat-icon>
        <span>
          Editar
        </span>
      </button>
    </div>
  </mat-card-footer>
  }
</mat-card>
