<h2 mat-dialog-title>Anote a senha</h2>
<mat-dialog-content>
  <p>Aviso, não é possível recuperar a senha após o envio do formulário, é importante que anote a senha. Se necessário,
    é possível redefinir a senha no futuro</p>
</mat-dialog-content>
<mat-dialog-content class="row">
  <div class="generated-password">
    <div class="col d-flex justify-content-center">
      {{ hidePassword ? '••••••••' : data.randomPassword }}
    </div>
    <button mat-icon-button class="btn-primary v-middle col-auto" (click)="showPassword()">
      <mat-icon>
        {{ hidePassword ? "visibility_off" : "visibility" }}
      </mat-icon>
    </button>
    <button mat-icon-button class="btn-primary v-middle col-auto" (click)="copyToClipboard()"
      matTooltip="Senha copiada!" [matTooltipDisabled]="true" #tooltip="matTooltip">
      <mat-icon>content_copy</mat-icon>
    </button>

  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button class="btn-primary" [mat-dialog-close] cdkFocusInitial>OK</button>
</mat-dialog-actions>
