<mat-card appearance="outlined" class="finance-card">
  <mat-card-content class="d-flex flex-column gap-3">
    <div class="row gap-3">
      <div class="col-sm d-flex flex-column gap-3">
        <mat-card appearance="outlined">
          <mat-card-header class="finance-sub-card">
            <div>
              Fluxo diário
            </div>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-sm d-flex flex-column gap-3">
        <mat-card appearance="outlined">
          <mat-card-header class="finance-sub-card">
            <div>
              Entradas e saídas
            </div>
            <span>
              O histórico é exibido de acordo com o intervalo selecionado
            </span>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
