@if (user?.id) {
<p>Editar usuário</p>
} @else {
<p>Novo usuário</p>
}

<form [formGroup]="userForm" class="col">

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Insira o nome" formControlName="name">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="exemplo@email.com.br" formControlName="email" #email
        (change)="findPersonByEmail(email.value)">
    </mat-form-field>
  </div>

  @if (user?.id) {
  <div class="row">
    <mat-slide-toggle formControlName="changePassword">Deseja alterar senha?</mat-slide-toggle>
  </div>
  <br>
  }
  @if (userForm.get('changePassword')?.value || !user?.id) {
  <div class="row">
    <mat-form-field appearance="outline" class="col-md">
      <mat-label>Nova senha</mat-label>
      <input name="new-password" [type]="hidePassword ? 'password' : 'text'" matInput
        placeholder="Digite sua a nova senha" formControlName="password" />
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <div class="col-auto">
      <button mat-fab extended class="btn-secondary" (click)="setRandomPassword()">
        <mat-icon>lock_reset</mat-icon>
        Gerar senha aleatória
      </button>
    </div>
  </div>
  }

  <div class="row">
    <span>Perfil do usuário</span>
    <mat-selection-list formControlName="roles">
      @for (userRole of userRoles; track $index) {
      <mat-list-option togglePosition="before" [value]="userRole">{{ userRole | enumTranslate }}</mat-list-option>
      }
    </mat-selection-list>
  </div>

  <div class="row">
    <p>
      <mat-slide-toggle formControlName="active" #active>
        {{ active.checked ? 'Cadastro ativo' : 'Cadastro inativo' }}
      </mat-slide-toggle>
    </p>
  </div>

  <div class="row">
    <span>Associar usuário a uma pessoa cadastrada</span>
    <mat-form-field appearance="outline">
      <mat-label>Cadastro</mat-label>
      <mat-select formControlName="person" [compareWith]="compareObjectId">
        <mat-select-trigger>
          {{ userForm.get('person')?.value?.name }}
        </mat-select-trigger>
        <mat-option></mat-option>
        @if (user?.person) {
        <mat-optgroup label="Pessoa associada ao usuário">
          <mat-option [value]="user?.person">
            {{ user?.person?.name }}
            <span class="person-email">{{ user?.person?.email }}</span>
          </mat-option>
        </mat-optgroup>
        }
        @if (personWithSameEmail) {
        <mat-optgroup label="Pessoa com mesmo e-mail de cadastro">
          <mat-option [value]="personWithSameEmail">
            {{ personWithSameEmail.name }}
            <span class="person-email">{{ personWithSameEmail.email }}</span>
          </mat-option>
        </mat-optgroup>
        }
        <mat-optgroup label="Pessoas sem usuário associado">
          @for (person of people; track $index) {
          @if (!personWithSameEmail || personWithSameEmail.email !== person.email) {
          <mat-option [value]="person">
            {{ person.name }}
            <span class="person-email">{{ person.email }}</span>
          </mat-option>
          }
          }
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>

  <br>

  <button mat-flat-button class="btn-primary" (click)="save(userForm)">
    Salvar
  </button>
  <button mat-flat-button type="reset" class="btn-secondary" [routerLink]="[nextRoute]">
    Cancelar
  </button>
</form>
