@if (user?.id) {
<p>Editar usuário</p>
} @else {
<p>Novo usuário</p>
}

<form [formGroup]="userForm" class="col">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Insira o nome" formControlName="name">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="exemplo@email.com.br" formControlName="email">
    </mat-form-field>
  </div>

  @if (user?.id) {
  <div class="row">
    <mat-slide-toggle formControlName="changePassword">Deseja alterar senha?</mat-slide-toggle>
  </div>
  <br>
  }
  @if (userForm.get('changePassword')?.value || !user?.id) {
  <div class="row">
    <mat-form-field appearance="outline" class="col-md">
      <mat-label>Nova senha</mat-label>
      <input name="new-password" [type]="hidePassword ? 'password' : 'text'" matInput
        placeholder="Digite sua a nova senha" formControlName="password" />
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <div class="col-auto">
      <button mat-fab extended class="btn-secondary" (click)="setRandomPassword()">
        <mat-icon>lock_reset</mat-icon>
        Gerar senha aleatória
      </button>
    </div>
  </div>
  }

  <div class="row">
    <span>Perfil do usuário</span>
    <mat-selection-list formControlName="roles">
      @for (userRole of userRoles; track $index) {
      <mat-list-option togglePosition="before" [value]="userRole">{{ userRole | enumTranslate }}</mat-list-option>
      }
    </mat-selection-list>
  </div>

  <div class="row">
    <p>
      <mat-slide-toggle formControlName="active" #active>
        {{ active.checked ? 'Cadastro ativo' : 'Cadastro inativo' }}
      </mat-slide-toggle>
    </p>
  </div>

  <br>

  <button mat-flat-button class="btn-primary" (click)="save(userForm)">
    Salvar
  </button>
  <button mat-flat-button type="reset" class="btn-secondary" [routerLink]="[nextRoute]">
    Cancelar
  </button>
</form>
