<h2 mat-dialog-title>
  Adicione o item <strong>{{ data.form.get('item')?.value.name }}</strong>
  <app-custom-icon [icon]="data.form.get('item')?.value.icon" [size]="30"></app-custom-icon>
</h2>
<form [formGroup]="data.form">
  <mat-dialog-content class="d-flex flex-column">
    <p>Selecione a pessoa e a quantidade</p>

    <mat-form-field appearance="outline">
      <mat-label>Quantidade</mat-label>
      <input matInput formControlName="quantity" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ofertante</mat-label>
      <mat-select #donor>
        <mat-option>Selecione o ofertante</mat-option>
        <mat-optgroup label="Alunos">
          @for (attendanceControl of data.attendances.controls; track $index; let last = $last) {
            @if (attendanceControl.get('present')?.value) {
              <mat-option [value]="attendanceControl">
                {{ attendanceControl.get('studentName')?.value }}
              </mat-option>
            }
          }
        </mat-optgroup>
        <mat-optgroup label="Visitantes {{(data.visitors.controls || []).length === 0 ? '(sem visitantes)' :'' }}">
          @for (visitorControl of data.visitors.controls; track $index; let last = $last) {
          <mat-option [value]="visitorControl">
            {{ visitorControl.get('name')?.value }}
          </mat-option>
          }
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="btn-primary" [mat-dialog-close] cdkFocusInitial>Cancelar</button>
    <button mat-flat-button class="btn-primary" (click)="save(data.form, donor.value)">Salvar</button>
  </mat-dialog-actions>
</form>
