<mat-toolbar class="toolbar-header">
  <button mat-icon-button (click)="toggleMenu.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="empty-spacer"></span>
  @if (authService.isAuthenticated() | async) {
  <button mat-flat-button class="btn-secondary" [routerLink]="['/', ROUTES_KEYS.login]">
    <mat-icon>account_circle</mat-icon>
    <span>{{ userNickname }}</span>
  </button>
  } @else {
    <button mat-flat-button class="btn-secondary" (click)="login()">
      <mat-icon>login</mat-icon>
      <span>Entrar</span>
    </button>
  }
</mat-toolbar>
