<p>
  <a mat-flat-button class="btn-primary" [routerLink]="[ROUTES_KEYS.people, ROUTES_KEYS.register]">
    Cadastrar
  </a>
</p>
<mat-accordion class="filter-accordion">
  <mat-expansion-panel #expansionPanel>
    <mat-expansion-panel-header class="filter-expansion-header">
      <div>
        <mat-panel-title class="filter-panel-title">
          @if (isFilterEmpty()) {
          <mat-icon>filter_alt_off</mat-icon>
          } @else {
          <mat-icon>filter_alt</mat-icon>
          }
          <span>Filtros</span>
        </mat-panel-title>
        <mat-panel-description class="filter-data">
        </mat-panel-description>
      </div>
    </mat-expansion-panel-header>
    <div>
      <form [formGroup]="filter" class="container">
        <div class="row">
          <mat-form-field class="col-md-8 col-12" appearance="outline">
            <mat-label>Termo de busca:</mat-label>
            <input formControlName="searchTerm" matInput placeholder="Digite um nome ou e-mail">
          </mat-form-field>

          <mat-form-field class="col-md-4 col-12" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" multiple>
              <mat-option [value]="true">Ativo</mat-option>
              <mat-option [value]="false">Inativo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-6 col-12" appearance="outline">
            <mat-label>Gênero</mat-label>
            <mat-select formControlName="gender" multiple>
              @for (gender of genderList; track $index) {
              <mat-option [value]="gender">{{ gender | enumTranslate }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-md-6 col-12" appearance="outline">
            <mat-label>Estado civil</mat-label>
            <mat-select formControlName="maritalStatus" multiple>
              @for (maritalStatus of maritalStatusList; track $index) {
              <mat-option [value]="maritalStatus">{{ maritalStatus | enumTranslate }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-md-6 col-12" appearance="outline">
            <mat-label>Escolaridade</mat-label>
            <mat-select formControlName="educationLevel" multiple>
              @for (educationLevel of educationLevelList; track $index) {
              <mat-option [value]="educationLevel">{{ educationLevel | enumTranslate }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">

          <mat-form-field class="col-md-4 col-12" appearance="outline">
            <mat-label>Aniversário</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Data inicial" formControlName="startBirthdate">
              <input matEndDate placeholder="Data final" formControlName="endBirthdate">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <div class="date-buttons">
              <button type="button" class="btn btn-outline-dark" (click)="pastWeek()">
                Última semana
              </button>
              <button type="button" class="btn btn-outline-dark" (click)="thisWeek()">
                Essa semana
              </button>
              <button type="button" class="btn btn-outline-dark" (click)="nextWeek()">
                Próxima semana
              </button>
            </div>
          </mat-form-field>
        </div>
      </form>
    </div>
    <button mat-flat-button class="btn-secondary" (click)="filterPeople(); expansionPanel.close()">
      <mat-icon>search</mat-icon>
      <span>
        Pesquisar
      </span>
    </button>
    <button mat-button class="btn-secondary" (click)="filter.reset();">
      <mat-icon>filter_alt_off</mat-icon>
      <span>
        Limpar filtros
      </span>
    </button>
  </mat-expansion-panel>
</mat-accordion>

<mat-chip-listbox class="people-filter-chip">
  @if (isFilterEmpty()) {
  <mat-chip disabled>Nenhum filtro selecionados</mat-chip>
  } @else {
  <mat-chip disabled>Filtros selecionados</mat-chip>
  }
  @if (filter.get('searchTerm')?.value) {
  <mat-chip class="search-term" (removed)="removeFilter('searchTerm', null)">
    {{ filter.get('searchTerm')?.value }}
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
  }
  @for (status of filter.get('status')?.value; track $index) {
  <mat-chip class="status" (removed)="removeFilter('status', status)">
    {{ status ? 'Ativo' : 'Inativo' }}
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
  }
  @for (gender of filter.get('gender')?.value; track $index) {
  <mat-chip class="gender" (removed)="removeFilter('gender', gender)">
    {{ gender | enumTranslate }}
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
  }
  @for (maritalStatus of filter.get('maritalStatus')?.value; track $index) {
  <mat-chip class="marital-status" (removed)="removeFilter('maritalStatus', maritalStatus)">
    {{ maritalStatus | enumTranslate }}
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
  }
  @for (educationLevel of filter.get('educationLevel')?.value; track $index) {
  <mat-chip class="education-level" (removed)="removeFilter('educationLevel', educationLevel)">
    {{ educationLevel | enumTranslate }}
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
  }
  @if (filter.get('startBirthdate')?.value && filter.get('endBirthdate')?.value) {
  <mat-chip class="birthdate" (removed)="removeFilter('startBirthdate', null);removeFilter('endBirthdate', null)">
    aniversários {{ filter.get('startBirthdate')?.value | date: 'dd-MMM' }} a
    {{ filter.get('endBirthdate')?.value | date: 'dd-MMM' }}
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip>
  }
</mat-chip-listbox>

<div class="table-responsive">

  @if (filteredPeople.filteredData.length === 0) {
  <div class="data-not-found-container">
    <p>Não foram encontrados dados com os filtros selecionados</p>
  </div>
  } @else {
  <table mat-table [dataSource]="filteredPeople" class="mat-elevation-z8 alternate-table-colors" matSort>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item [routerLink]="[ROUTES_KEYS.people, element.id]" title="Ver detalhes de pessoa">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </a>
          <button mat-menu-item (click)="downloadPersonPdf(element)">
            <mat-icon>picture_as_pdf</mat-icon>
            <span>Download pdf</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumbers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </th>
      <td mat-cell *matCellDef="let element"> {{ formatPhoneNumbers(element.phoneNumbers) }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="birthdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Aniversário </th>
      <td mat-cell *matCellDef="let element"> {{element.birthdate | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.active ? 'Ativo' : 'Inativo'}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gênero </th>
      <td mat-cell *matCellDef="let element"> {{element.gender | enumTranslate}} </td>
    </ng-container>

    <ng-container matColumnDef="educationLevel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortingDataAccessor="teste"> Escolaridade </th>
      <td mat-cell *matCellDef="let element"> {{element.educationLevel | enumTranslate}} </td>
    </ng-container>

    <ng-container matColumnDef="maritalStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Civil </th>
      <td mat-cell *matCellDef="let element"> {{element.maritalStatus | enumTranslate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  }
</div>
