.filter-expansion-header {
  padding: 10px;
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: auto;
}

.filter-panel-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-data {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 16px;
}

.data-not-found-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 15px;
  height: 141px;
  color: var(--color-medium-gray);
  justify-content: center;
  align-items: center;

  border-style: dashed;
  border-width: thin;
  border-color: var(--color-medium-gray);
  border-radius: 5px;
}

.date-buttons {
  width: 150%;
  transform: scale(0.7);
  transform-origin: left;
}
