.dialog-offer-management-container {
  padding: 20px;
  min-width: 300px;
  min-height: 70px;
  max-height: 80vh;
}

.card-offer {
  align-items: center;
  min-width: 350px;
  min-height: 35px;
  border: solid 1px var(--color-light-gray);
  border-radius: 5px;
}

.no-offer-data {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 350px;
  min-height: 100px;
  border: dashed 1px var(--color-light-gray);
  border-radius: 5px;
}
