<h2 mat-dialog-title>Gerencie o valor das ofertas</h2>
<form [formGroup]="clonedOffer">
  <mat-dialog-content>
    <p>Insira a soma das ofertas</p>

    <mat-form-field appearance="outline">
      <mat-label>Valor</mat-label>
      <input matInput formControlName="amount" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button class="btn-primary" [mat-dialog-close] cdkFocusInitial>Cancelar</button>
    <button mat-flat-button class="btn-primary" (click)="save()">Salvar</button>
  </mat-dialog-actions>
</form>
