<p>Acesso Professores</p>

<div class="d-flex flex-column gap-2">

  <div>
    <button mat-flat-button [routerLink]="[ROUTES_KEYS.register]">
      <mat-icon>
        add
      </mat-icon>
      Adicionar professor
    </button>
  </div>

  <div ngbAccordion>

    @for (classroom of classrooms; track $index) {
    <div ngbAccordionItem [collapsed]="true">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton> {{ classroom.name }}
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="d-flex flex-column gap-2">
              @for (teacher of classroom.teachers; track $index) {
              @let user = getUserByPersonId(teacher?.person?.id);
              @if (user) {
              @if (user.active === false && users[$index - 1] && users[$index - 1].active) {
              <mat-divider class="divider-light"></mat-divider>
              <div class="user-status">Inativos</div>
              }
              <div class="user-card d-flex justify-content-between" [ngClass]="{'inactive-user': !user.active}"
                [routerLink]="[user.id, ROUTES_KEYS.edit]">
                <span class="col-auto">
                  {{ user.name }}
                </span>
                <span class="col-auto user-email">
                  {{ user.email }}
                </span>
              </div>
              }
              }
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    }

    <div ngbAccordionItem [collapsed]="true">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton> Usuários não associados a uma turma ou pessoa / Inativos
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="d-flex flex-column gap-2">
              @for (user of usersWithoutClassroom; track $index) {
              @if (user.active === false && usersWithoutClassroom[$index - 1] && usersWithoutClassroom[$index -
              1].active) {
              <mat-divider class="divider-light"></mat-divider>
              <div class="user-status">Inativos</div>
              }
              <div class="user-card d-flex justify-content-between" [ngClass]="{'inactive-user': !user?.active}"
                [routerLink]="[user.id, ROUTES_KEYS.edit]">
                <span class="col-auto">
                  {{ user.name }}
                </span>
                <span class="col-auto user-email">
                  {{ user.email }}
                </span>
              </div>
              }
            </div>
          </ng-template>
        </div>
      </div>
    </div>

  </div>
</div>
