@if ((isLoading$ | async) || false) {
<div class="loader-container">
  <div class="loader">
    <div class="spin"></div>
    <span class="material-icons mat-18">family_restroom</span>
    <span class="material-icons mat-18">volunteer_activism</span>
    <span class="material-icons mat-18">school</span>
    <span class="material-icons mat-18">church</span>
  </div>
  <p class="loader-text">Aguarde um momento</p>
  <button mat-flat-button class="btn-secondary" (click)="closeLoader()">Fechar loader</button>
</div>
}
