/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap' as bs;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --color-primary: #008AC3;
  --color-primary-text: #e0e0e0;
  --color-secondary: #8ad5f5;
  --color-secondary-dark: color-mix(in srgb, var(--color-secondary) 60%, black);
  --color-secondary-text: #263238;

  --color-off-white-cream: #F4F1EB;
  --color-off-white-gray: #FAF9F6;
  --color-light-gray: #D3D3D3;
  --color-medium-gray: #A0A0A0;
  --color-dark-gray: #505050;
  --color-dark: #263238;
  --color-success: green;
  --color-error: rgb(153, 4, 4);
  --color-warning: orange;

  --color-side-menu: var(--color-off-white-cream);
  --color-main-body: var(--color-off-white-gray);
  --color-login-card: white;
  --color-footer: var(--color-dark);


  @include mat.slide-toggle-overrides((selected-track-color: var(--color-primary),
      selected-hover-track-color: var(--color-primary),
      selected-focus-track-color: var(--color-primary),
      selected-pressed-track-color: var(--color-secondary)));
}

.side-menu {
  @include mat.sidenav-overrides((container-background-color: var(--color-side-menu),
      content-background-color: var(--color-side-menu),
    ));
}

.toolbar-header {
  @include mat.toolbar-overrides((container-background-color: var(--color-primary),
      container-text-color: var(--color-primary-text)));

  @include mat.icon-button-overrides((icon-color: var(--color-primary-text),
      state-layer-color: var(--color-primary-text),
      hover-state-layer-opacity: 0.1));
}

.toolbar-footer {
  padding-top: 20px;

  @include mat.toolbar-overrides((container-background-color: var(--color-footer),
      container-text-color: var(--color-primary-text)));
}

.alternate-table-colors {
  @include mat.table-overrides((background-color: var(--color-off-white-gray),
      row-item-label-text-color: var(--color-dark),
      row-item-outline-width: 1px,
      row-item-outline-color: var(--color-light-gray),
      row-item-label-text-size: small));

  .mat-sort-header-arrow {
    color: var(--color-light-gray) !important;
  }

  .mat-row,
  .mat-mdc-row,
  .mat-mdc-cell {
    border: 1px solid var(--color-light-gray);
  }

  .mat-mdc-row:nth-child(even) {
    background-color: var(--color-off-white-cream);
  }

  th.mat-mdc-header-cell {
    background: var(--color-dark);
    color: var(--color-light-gray);
  }

  .mat-row:hover,
  .mat-mdc-row:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
  }
}

.notification.success {
  mat-icon {
    color: var(--color-primary-text) !important;
  }

  .success {
    background-color: var(--color-success);
  }

  @include mat.snack-bar-overrides((container-color: var(--color-success),
    ));
}

.notification.error {
  mat-icon {
    color: var(--color-primary-text) !important;
  }

  .error {
    background-color: var(--color-error);
  }

  @include mat.snack-bar-overrides((container-color: var(--color-error),
    ));
}

.notification.warning {
  mat-icon {
    color: var(--color-dark) !important;
  }

  .warning {
    background-color: var(--color-warning);
  }

  .notification-message {
    color: var(--color-dark);
  }

  @include mat.snack-bar-overrides((container-color: var(--color-warning),
    ));
}

.notification.info {
  mat-icon {
    color: var(--color-primary-text) !important;
  }

  .error {
    background-color: var(--color-dark-gray);
  }

  @include mat.snack-bar-overrides((container-color: var(--color-dark-gray),
    ));
}

.btn-primary {
  @include mat.button-overrides((
      text-label-text-color: var(--color-primary),
      text-hover-state-layer-opacity: 15%,
      // ripple-color: color-mix(in srgb, var(--color-primary) 50%, white),

      filled-container-color: var(--color-primary),
      filled-label-text-color: var(--color-primary-text),
      filled-ripple-color: color-mix(in srgb, var(--color-primary) 70%, black),
      filled-hover-state-layer-opacity: 30%,

      outlined-label-text-color: var(--color-primary),
      outlined-outline-color: var(--color-primary),
      outlined-ripple-color: color-mix(in srgb, var(--color-primary) 90%, white),
      outlined-hover-state-layer-opacity: 15%,

      protected-label-text-color: var(--color-primary),
      protected-hover-state-layer-opacity: 15%,
      protected-ripple-color: color-mix(in srgb, var(--color-primary) 70%, white),
    ));

  @include mat.fab-overrides((
      container-color: var(--color-primary),
      foreground-color: var(--color-primary-text),
      ripple-color: color-mix(in srgb, var(--color-primary) 70%, white),
      hover-state-layer-opacity: 30%,

      small-container-color: var(--color-primary),
      small-foreground-color: var(--color-primary-text),
      small-ripple-color: color-mix(in srgb, var(--color-primary) 70%, white),
      small-hover-state-layer-opacity: 30%,
    ));

  @include mat.icon-button-overrides((icon-color: var(--color-primary)));
}

.btn-secondary {
  @include mat.button-overrides((
      text-label-text-color: var(--color-secondary-dark),
      text-hover-state-layer-opacity: 15%,
      // ripple-color: color-mix(in srgb, var(--color-secondary) 90%, white),

      filled-container-color: var(--color-secondary),
      filled-label-text-color: var(--color-secondary-text),
      filled-ripple-color: color-mix(in srgb, var(--color-secondary) 90%, black),
      filled-hover-state-layer-opacity: 30%,

      outlined-label-text-color: var(--color-secondary-dark),
      outlined-outline-color: var(--color-secondary-dark),
      outlined-ripple-color: color-mix(in srgb, var(--color-secondary) 90%, white),
      outlined-hover-state-layer-opacity: 15%,

      protected-label-text-color: var(--color-secondary-dark),
      protected-ripple-color: color-mix(in srgb, var(--color-secondary) 70%, white),
      protected-hover-state-layer-opacity: 15%,
    ));

  @include mat.fab-overrides((
      container-color: var(--color-secondary),
      foreground-color: var(--color-secondary-text),
      ripple-color: color-mix(in srgb, var(--color-secondary) 70%, white),
      hover-state-layer-opacity: 20%,

      small-container-color: var(--color-secondary),
      small-foreground-color: var(--color-secondary-text),
      small-ripple-color: color-mix(in srgb, var(--color-secondary) 70%, white),
      small-hover-state-layer-opacity: 20%,
    ));

  @include mat.icon-button-overrides((icon-color: var(--color-secondary-dark)));
}

.btn-secondary {
  @include mat.button-overrides((filled-container-color: var(--color-secondary),
      filled-label-text-color: var(--color-secondary-text)));
}

.filter-accordion {
  @include mat.expansion-overrides((header-collapsed-state-height: auto,
      header-expanded-state-height: auto,
    ));
}

.people-filter-chip {
  padding: 10px;

  @include mat.chips-overrides((label-text-size: 10px,
    ));

  .search-term {
    background-color: #ad9fbd !important;
  }

  .status {
    background-color: #cfd4d6 !important;
  }

  .gender {
    background-color: #d2e9ae !important;
  }

  .marital-status {
    background-color: #cfb8e7 !important;
  }

  .education-level {
    background-color: #c3ecec !important;
  }
}

.main-body {
  background-color: var(--color-main-body);
}

.v-middle {
  vertical-align: middle;
}

.empty-spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.default-form {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  width: 100%;
  max-width: 100vw;
}

.individual-lesson-card:hover {
  @include mat.card-overrides((outlined-outline-color: var(--color-primary),
    ));
}

.divider-light {
  @include mat.divider-overrides((
    color: var(--color-light-gray),
  ));
}

.progress-bar-primary {
  @include mat.progress-bar-overrides((
    active-indicator-color: var(--color-primary),
  ));
}
