/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap' as bs;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --color-primary: #641B53;
  --color-primary-text: #e0e0e0;
  --color-secondary: #D4C3FF;
  --color-secondary-text: #263238;

  --color-off-white-cream: #F4F1EB;
  --color-off-white-gray: #FAF9F6;
  --color-light-gray: #D3D3D3;
  --color-dark: #263238;
  --color-success: green;
  --color-error: red;
  --color-warning: orange;

  --color-side-menu: var(--color-off-white-cream);
  --color-main-body: var(--color-off-white-gray);
  --color-login-card: white;
  --color-footer: var(--color-dark);
}

.side-menu {
  @include mat.sidenav-overrides((container-background-color: var(--color-side-menu),
      content-background-color: var(--color-side-menu),
    ));
}

.toolbar-header {
  @include mat.toolbar-overrides((container-background-color: var(--color-primary),
      container-text-color: var(--color-primary-text)));

  @include mat.icon-button-overrides((icon-color: var(--color-primary-text),
      state-layer-color: var(--color-primary-text),
      hover-state-layer-opacity: 0.1));
}

.toolbar-footer {
  padding-top: 20px;

  @include mat.toolbar-overrides((container-background-color: var(--color-footer),
      container-text-color: var(--color-primary-text)));
}

.alternate-table-colors {
  @include mat.table-overrides((background-color: var(--color-off-white-gray),
      row-item-label-text-color: var(--color-dark),
      row-item-outline-width: 1px,
      row-item-outline-color: var(--color-light-gray),
    ));

  .mat-row,
  .mat-mdc-row,
  .mat-mdc-cell {
    border: 1px solid var(--color-light-gray);
  }

  .mat-mdc-row:nth-child(even) {
    background-color: var(--color-off-white-cream);
  }

  th.mat-mdc-header-cell {
    background: var(--color-dark);
    color: var(--color-light-gray);
  }

}

.alternate-table-colors {

  .mat-row:hover,
  .mat-mdc-row:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
  }
}

.notification.success {
  mat-icon {
    color: var(--color-primary-text) !important;
  }

  .success {
    background-color: var(--color-success);
  }

  @include mat.snack-bar-overrides((container-color: var(--color-success),
    ));
}

.notification.error {
  mat-icon {
    color: var(--color-primary-text) !important;
  }

  .error {
    background-color: var(--color-error);
  }

  @include mat.snack-bar-overrides((container-color: var(--color-error),
    ));
}

.notification.warning {
  mat-icon {
    color: var(--color-dark) !important;
  }

  .warning {
    background-color: var(--color-warning);
  }

  .notification-message {
    color: var(--color-dark);
  }

  @include mat.snack-bar-overrides((container-color: var(--color-warning),
    ));
}

.btn-primary {
  @include mat.button-overrides((filled-container-color: var(--color-primary),
      filled-label-text-color: var(--color-primary-text),
    ));
}

.btn-secondary {
  @include mat.button-overrides((filled-container-color: var(--color-secondary),
      filled-label-text-color: var(--color-secondary-text)));
}

.main-body {
  background-color: var(--color-main-body);
}

.v-middle {
  vertical-align: middle;
}

.empty-spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
  max-width: 100%;
}
