<a [routerLink]="['/', ROUTES_KEYS.management]"> Voltar para cadastros</a>
<mat-card appearance="outlined" class="person-details-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ report?.person?.name }}</mat-card-title>
      <div>
        <button mat-icon-button (click)="downloadPersonPdf(report?.person!)">
          <mat-icon>picture_as_pdf</mat-icon>
        </button>
        <a mat-icon-button [routerLink]="[ROUTES_KEYS.edit]">
          <mat-icon>edit</mat-icon>
        </a>
      </div>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-card appearance="outlined">
      <mat-card-content>
        <mat-card-header>
          <mat-card-subtitle>
            Dados pessoais
          </mat-card-subtitle>
        </mat-card-header>
        <div class="person-data">
          <div class="row">
            <div class="col">
              <mat-card-content>
                Id:
                <span>{{ report?.person?.id }}</span>
              </mat-card-content>
              <mat-card-content>
                Gênero:
                <span>{{ report?.person?.gender | enumTranslate }}</span>
              </mat-card-content>
              <mat-card-content>
                Data de nascimento:
                <span>{{ report?.person?.birthdate | date: 'dd/MM/yyyy' }}</span>
              </mat-card-content>
              <mat-card-content>
                Escolaridade:
                <span>{{ report?.person?.educationLevel | enumTranslate }}</span>
              </mat-card-content>
              <mat-card-content>
                Estado civil:
                <span>{{ report?.person?.maritalStatus | enumTranslate }}</span>
              </mat-card-content>
            </div>

            <div class="col">
              <mat-card-content>
                Telefone:
                <span>
                  @for(phoneNumber of report?.person?.phoneNumbers; track $index; let first = $first) {
                  @if (!first) {
                  <br>
                  }
                  <a target="_blank" style="text-decoration: none; color: inherit;"
                    [href]="'https://wa.me/55' + phoneNumber.areaCode + phoneNumber.phoneNumber">
                    {{ formatPhoneNumber(phoneNumber) }}
                  </a>
                  }
                </span>
              </mat-card-content>
              <mat-card-content>
                E-mail:
                <span>
                  <a target="_blank" style="text-decoration: none; color: inherit;"
                    [href]="'mailto:' + report?.person?.email">
                    {{ report?.person?.email }}
                  </a>
                </span>
              </mat-card-content>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-card-content>
                Logradouro:
                <span>{{ formatAddress(report?.person?.address) }}</span>
              </mat-card-content>
              <mat-card-content>
                Bairro:
                <span>{{ report?.person?.address?.neighborhood }}</span>
              </mat-card-content>
              <mat-card-content>
                Cidade / UF:
                <span>{{ report?.person?.address?.city?.name + ' / ' +
                  report?.person?.address?.city?.state?.abbreviation
                  }}</span>
              </mat-card-content>
            </div>
            <div class="col">
              <mat-card-content>
                Status:
                <span>{{ report?.person?.active ? 'Ativo' : 'Inativo' }}</span>
              </mat-card-content>
              <mat-card-content>
                Criado em:
                <span>{{ report?.person?.createdAt | date: 'dd/MM/yyyy HH:mm' }}</span>
              </mat-card-content>
              <mat-card-content>
                Última atualização:
                <span>{{ report?.person?.updatedAt | date: 'dd/MM/yyyy HH:mm' }}</span>
              </mat-card-content>
            </div>
          </div>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-content>
        <mat-card-header>
          <mat-card-subtitle>
            Resumo Geral
          </mat-card-subtitle>
        </mat-card-header>
        @if (report?.attendancesByClassroom?.length ?? 0 > 0) {
        <mat-card-content>
          <div class="row text-center person-resume">
            <div class="col d-flex flex-column">
              <span> {{ report?.attendedLessons }}</span>
              Presenças
            </div>
            <div class="col d-flex flex-column">
              <span> {{ report?.missedLessons }}</span>
              Ausências
            </div>
            <div class="col d-flex flex-column">
              <span> {{ report?.attendedLessons! / report?.totalLessons! | percent: '1.1-1'}}</span>
              Aproveitamento
            </div>
          </div>
        </mat-card-content>
        <mat-card-content class="classroom-atendances">
          <mat-accordion multi>
            <mat-expansion-panel disabled>
              <mat-expansion-panel-header>
                <mat-panel-title> Histórico de presenças </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>

            @for(classroomAttendance of report?.attendancesByClassroom; track $index) {
            @let rate = classroomAttendance.attendedLessons! / classroomAttendance.totalLessons!;
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> {{ 'Turma: ' + classroomAttendance.classroom?.name }} </mat-panel-title>
                <mat-panel-description>
                  <span></span>
                  <span>
                    Aproveitamento
                    <span>{{ rate | percent: '1.1-1'}}</span>
                  </span>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="row text-center">
                <div class="col">
                  Presenças:
                  <span>{{ classroomAttendance.attendedLessons }}</span>
                </div>
                <div class="col">
                  Ausências:
                  <span>{{ classroomAttendance.missedLessons }}</span>
                </div>
              </div>

              <mat-divider></mat-divider>

              @for(attendance of classroomAttendance.attendances; track $index) {
              @let lastMonth = classroomAttendance.attendances?.[$index - 1]?.lesson?.date | date: 'MMMM';
              @let currentMonth = (attendance.lesson?.date | date: 'MMMM');
              @if (currentMonth !== lastMonth) {
              <div class="container text-center">
                <div class="attendance-mounth">
                  {{ attendance.lesson?.date | date: 'MMMM' }}
                </div>
              </div>
              }
              <div class="container attendance-lesson">
                <div class="row">
                  <span class="col-md-1 col">
                    <span class="lesson-date">
                      {{ attendance.lesson?.date | date: 'dd' }}
                    </span>
                  </span>
                  <span class="col lesson-number">
                    {{ 'Lição ' + attendance.lesson?.number }}
                  </span>
                  <span class="col attendance-icon">
                    <mat-icon>
                      {{ attendance.present ? 'check_circle' : 'close' }}
                    </mat-icon>
                  </span>
                </div>
              </div>
              }
            </mat-expansion-panel>
            }
          </mat-accordion>
        </mat-card-content>
        }

        @if (report?.teachingsByClassroom?.length ?? 0 > 0) {
        <mat-card-content class="classroom-atendances">
          <mat-accordion multi>
            <mat-expansion-panel disabled>
              <mat-expansion-panel-header>
                <mat-panel-title> Histórico de aulas como professor </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>

            @for(classroomTeaching of report?.teachingsByClassroom; track $index) {
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> {{ 'Turma: ' + classroomTeaching.classroom?.name }} </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>

              @for(teaching of classroomTeaching.teachings; track $index) {
              @let lastMonth = classroomTeaching.teachings?.[$index - 1]?.lesson?.date | date: 'MMMM';
              @let currentMonth = (teaching.lesson?.date | date: 'MMMM');
              @if (currentMonth !== lastMonth) {
              <div class="container text-center">
                <div class="attendance-mounth">
                  {{ teaching.lesson?.date | date: 'MMMM' }}
                </div>
              </div>
              }
              <div class="container attendance-lesson">
                <div class="row">
                  <span class="col-md-1 col">
                    <span class="lesson-date">
                      {{ teaching.lesson?.date | date: 'dd' }}
                    </span>
                  </span>
                  <span class="col lesson-number">
                    {{ 'Lição ' + teaching.lesson?.number }}
                  </span>
                </div>
              </div>
              }
            </mat-expansion-panel>
            }
          </mat-accordion>

        </mat-card-content>
        }
      </mat-card-content>

    </mat-card>
  </mat-card-content>
</mat-card>
