<div class="table-responsive">

  <mat-card appearance="outlined" class="lessons-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title> Últimas aulas </mat-card-title>
        <div>
          <mat-form-field appearance="outline" style="display: none;">
            <mat-label>Escolha um período</mat-label>
            <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
              <input matStartDate placeholder="Data inicial" #startDate>
              <input matEndDate placeholder="Data final" #endDate>
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker touchUi #picker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel class="btn-secondary">Cancelar</button>
                <button mat-flat-button class="btn-primary" matDatepickerApply
                  (click)="findLessonsByPeriod(startDate.value, endDate.value)">Buscar aulas por período</button>
              </mat-datepicker-actions>
            </mat-date-range-picker>
          </mat-form-field>
          <button mat-icon-button (click)="picker.open()">
            <mat-icon>calendar_month</mat-icon>
          </button>
          <a mat-icon-button [routerLink]="['/', ROUTES_KEYS.lessons, ROUTES_KEYS.register]">
            <mat-icon>add</mat-icon>
          </a>
        </div>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="lessons-card-content">

      @for(lesson of lessons; track $index) {
      @let presentStudents = countPresentStudents(lesson.attendances);
      @let absentStudents = countAbsentStudents(lesson.attendances);
      <mat-card appearance="outlined" class="individual-lesson-card"
        [routerLink]="[lesson.id, ROUTES_KEYS.lessonAttendance]">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>
              <span>
                Lição {{ lesson.lessonNumber }}
              </span>
            </mat-card-title>
            <mat-card-subtitle>
              {{ lesson.lessonDate | date: 'EEEE, dd \'de\' MMMM' }}
            </mat-card-subtitle>
            <span class="lesson-perfomance">
              Média: {{ (presentStudents / (presentStudents + absentStudents)) || 0 | percent: '1.1-1'}}
            </span>
          </mat-card-title-group>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="container text-center">
          <div class="row justify-content-around">
            <span class="col">
              Presentes: {{ presentStudents }}
            </span>
            <span class="col">
              Ausentes: {{ absentStudents }}
            </span>
          </div>
        </mat-card-content>
        @if (isAdmin | async) {
        <mat-card-footer class="container">
          <div class="row">
            <button mat-button class="btn-primary" [routerLink]="[lesson.id]">
              <mat-icon>edit</mat-icon>
              <span>
                Editar
              </span>
            </button>
          </div>
        </mat-card-footer>
        }
      </mat-card>
      }

    </mat-card-content>
  </mat-card>

</div>
