<div class="table-responsive">
  <mat-card appearance="outlined" class="lessons-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <mat-form-field appearance="outline">
            <mat-label>Filtrar aulas</mat-label>
            <input matInput placeholder="Turma ou tema" #lessonFilter (input)="filterLessons(lessonFilter.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </mat-card-title>
        <div>
          <mat-form-field appearance="outline" style="display: none;">
            <mat-label>Escolha um período</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input name="startDate" matStartDate placeholder="Data inicial" [(ngModel)]="startDate">
              <input name="endDate" matEndDate placeholder="Data final" [(ngModel)]="endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker touchUi #picker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel class="btn-secondary">Cancelar</button>
                <button mat-flat-button class="btn-primary" matDatepickerApply
                  (click)="findLessonsByPeriod(startDate, endDate)">Buscar aulas por período</button>
              </mat-datepicker-actions>
            </mat-date-range-picker>
          </mat-form-field>
          <button mat-icon-button (click)="picker.open()">
            <mat-icon>calendar_month</mat-icon>
          </button>
          <a mat-icon-button [routerLink]="['/', ROUTES_KEYS.lessons, ROUTES_KEYS.register]">
            <mat-icon>add</mat-icon>
          </a>
        </div>
      </mat-card-title-group>
    </mat-card-header>

    @if (lessons.length === 0) {
    <mat-card-content>
      <div class="no-data-found">
        Sem aulas encontradas
      </div>
    </mat-card-content>
    }
    @if (lessons.length > 0) {
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title> Aulas não finalizadas </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="lessons-card-content">
      @if (unfinishedLessons.length === 0) {
      <div class="no-data-found">
        Sem aulas não finalizadas
        @if (lessonFilter.value) {
        com o termo de busca '{{ lessonFilter.value }}'
        }
        @if (startDate) {
        para o período
        de {{ startDate | date : 'dd/MM/yyyy' }}
        a {{ endDate | date: 'dd/MM/yyyy' }}
        } @else {
        , selecione um período maior para buscar mais aulas no servidor
        }
      </div>
      }


      <div class="col">
        <div ngbAccordion>
          @for(group of groupedUnfinishedLessons; track $index) {
          <div ngbAccordionItem [collapsed]="true">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>{{ group.key }}</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <div class="lessons-card-content">
                    @for(lesson of group.lessons; track $index) {
                    <app-lesson-card [lesson]="lesson"></app-lesson-card>
                    }
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          }
        </div>
      </div>




    </mat-card-content>

    <br>
    <mat-divider class="divider-light"></mat-divider>

    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title> Aulas concluídas </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="lessons-card-content">
      @if (finishedLessons.length === 0) {
      <div class="no-data-found">
        Sem aulas concluídas
        @if (lessonFilter.value) {
        com o termo de busca '{{ lessonFilter.value }}'
        }
        @if (startDate) {
        para o período
        de {{ startDate | date : 'dd/MM/yyyy' }}
        a {{ endDate | date: 'dd/MM/yyyy' }}
        } @else {
        , selecione um período maior para buscar mais aulas no servidor
        }
      </div>
      }

      <div class="col">
        <div ngbAccordion>
          @for(group of groupedFinishedLessons; track $index) {
          <div ngbAccordionItem [collapsed]="true">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>{{ 'Lição ' + group.key }}</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <a mat-button class="brn-primary" [routerLink]="[ROUTES_KEYS.units.index]" [queryParams]="getQueryParamsLessonUnit(group.key)">
                    <mat-icon>description</mat-icon>
                    Visualizar relatório
                  </a>
                  <a mat-button class="brn-primary">
                    <mat-icon>picture_as_pdf</mat-icon>
                    Exportar relatório em PDF
                  </a>
                  <div class="lessons-card-content">
                    @for(lesson of group.lessons; track $index) {
                    <app-lesson-card [lesson]="lesson"></app-lesson-card>
                    }
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </mat-card-content>
    }
  </mat-card>
</div>
