<div class="table-responsive">

  <mat-card appearance="outlined" class="lessons-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <mat-form-field appearance="outline">
            <mat-label>Filtrar aulas</mat-label>
            <input matInput placeholder="Turma ou tema" #lessonFilter (input)="filterLessons(lessonFilter.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </mat-card-title>
        <div>
          <mat-form-field appearance="outline" style="display: none;">
            <mat-label>Escolha um período</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input name="startDate" matStartDate placeholder="Data inicial" [(ngModel)]="startDate">
              <input name="endDate" matEndDate placeholder="Data final" [(ngModel)]="endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker touchUi #picker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel class="btn-secondary">Cancelar</button>
                <button mat-flat-button class="btn-primary" matDatepickerApply
                  (click)="findLessonsByPeriod(startDate, endDate)">Buscar aulas por período</button>
              </mat-datepicker-actions>
            </mat-date-range-picker>
          </mat-form-field>
          <button mat-icon-button (click)="picker.open()">
            <mat-icon>calendar_month</mat-icon>
          </button>
          <a mat-icon-button [routerLink]="['/', ROUTES_KEYS.lessons, ROUTES_KEYS.register]">
            <mat-icon>add</mat-icon>
          </a>
        </div>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title> Aulas futuras </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="lessons-card-content">
      @if (upcomingLessons.length === 0) {
      <div class="no-data-found">
        Sem aulas futuras para o período
        de {{ startDate | date : 'dd/MM/yyyy' }}
        a {{ endDate | date: 'dd/MM/yyyy' }}
        @if (lessonFilter.value) {
        com o termo de busca '{{ lessonFilter.value }}'
        }
      </div>
      }
      @for(lesson of upcomingLessons; track $index) {
      <app-lesson-card [lesson]="lesson"></app-lesson-card>
      }
    </mat-card-content>

    <br>
    <mat-divider class="divider-light"></mat-divider>

    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title> Aulas passadas </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="lessons-card-content">
      @if (pastLessons.length === 0) {
      <div class="no-data-found">
        Sem aulas passadas para o período
        de {{ startDate | date : 'dd/MM/yyyy' }}
        a {{ endDate | date: 'dd/MM/yyyy' }}
        @if (lessonFilter.value) {
        com o termo de busca '{{ lessonFilter.value }}'
        }
      </div>
      }

      @for(lesson of pastLessons; track $index) {
      <app-lesson-card [lesson]="lesson"></app-lesson-card>
      }
    </mat-card-content>
  </mat-card>
</div>
