.lessons-card {
  background-color: var(--color-off-white-cream);
}

.lessons-card-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 15px;
}

.no-lesson-found {
  border: dashed 1px var(--color-light-grey);

}
